.2_2 { 
	overflow:hidden;
}.e2_2 { 
	background-color:rgba(240.00000089406967, 248.0000004172325, 255, 1);
	width:1600px;
	height:2310px;
	position:absolute;
}.e5_11 { 
	color:rgba(0, 0, 0, 1);
	width:366px;
	height:42px;
	position:absolute;
	left:100px;
	top:96px;
	font-family:Lora;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e5_14 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:18px;
	position:absolute;
	left:1209px;
	top:108px;
	font-family:Lora;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e5_15 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:18px;
	position:absolute;
	left:1306px;
	top:108px;
	font-family:Lora;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e5_16 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:18px;
	position:absolute;
	left:1403px;
	top:108px;
	font-family:Lora;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e7_112 { 
	background-color:rgba(112.000000923872, 128.0000075697899, 144.00000661611557, 1);
	width:97px;
	height:25px;
	position:absolute;
	left:1112px;
	top:105px;
	border-radius:30px;
}.e5_17 { 
	background-color:rgba(254.00000005960464, 254.00000005960464, 250.00000029802322, 1);
	width:1332px;
	height:510px;
	position:absolute;
	left:134px;
	top:232px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
}.e6_18 { 
	color:rgba(0, 0, 0, 1);
	width:799px;
	height:187px;
	position:absolute;
	left:400px;
	top:296px;
	font-family:Lora;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e6_22 { 
	color:rgba(0, 0, 0, 1);
	width:566px;
	height:162px;
	position:absolute;
	left:517px;
	top:523px;
	font-family:Lora;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e6_29 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:130px;
	position:absolute;
	left:587px;
	top:806px;
	font-family:Lora;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e6_30 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:128px;
	position:absolute;
	left:587px;
	top:946px;
	font-family:Lora;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e6_21 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:18px;
	position:absolute;
	left:1112px;
	top:108px;
	font-family:Lora;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e6_35 { 
	background-color:rgba(112.000000923872, 128.0000075697899, 144.00000661611557, 1);
	width:550px;
	height:450px;
	position:absolute;
	left:198px;
	top:1105px;
}.e6_34 { 
	background-color:rgba(112.000000923872, 128.0000075697899, 144.00000661611557, 1);
	width:550px;
	height:450px;
	position:absolute;
	left:852px;
	top:1105px;
}.e6_33 { 
	background-color:rgba(112.000000923872, 128.0000075697899, 144.00000661611557, 1);
	width:550px;
	height:450px;
	position:absolute;
	left:198px;
	top:1650px;
}.e6_37 { 
	background-color:rgba(112.000000923872, 128.0000075697899, 144.00000661611557, 1);
	width:550px;
	height:450px;
	position:absolute;
	left:852px;
	top:1650px;
}.e6_38 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:130px;
	position:absolute;
	left:268px;
	top:1172px;
	font-family:Lora;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e6_39 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:136px;
	position:absolute;
	left:267px;
	top:1342px;
	font-family:Lora;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e6_46 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:170px;
	position:absolute;
	left:915px;
	top:1702px;
	font-family:Lora;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e6_47 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:136px;
	position:absolute;
	left:915px;
	top:1892px;
	font-family:Lora;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e103_5 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:170px;
	position:absolute;
	left:261px;
	top:1702px;
	font-family:Lora;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e6_45 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:136px;
	position:absolute;
	left:260px;
	top:1892px;
	font-family:Lora;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e6_42 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:170px;
	position:absolute;
	left:915px;
	top:1152px;
	font-family:Lora;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e6_43 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:136px;
	position:absolute;
	left:914px;
	top:1347px;
	font-family:Lora;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}